* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: rgb(36, 20, 20);
    background-color: #bba39f;
    font-family: monospace;
}

header {
    background-color: #dcc3be;
    margin-top: 0;
}

h1 {
    color: purple;
    font-size: 45px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

h2 {
    font-size: 40px;
    color: maroon;
}

ol {
    list-style: none;
    padding: 0 3rem;
}

ol h3{

    color: rgba(54, 49, 49, 0.966);
}



h3 {
    margin-bottom: .5rem;
    font-size: 32px;
}

h3.intro {
    margin-top: 3rem;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
}

.welcome img {
    height: 300px;
    clip-path: circle();
}

.about img {
    width: 60%;
    margin-left: 20%;
}


.container {
    width: 90%;
    padding: 0 5%;
}

section {
    padding: 1px;
    border-radius: 3rem;
    margin:1rem 3rem;
}

section.welcome {
    background-color: #eacdc5;
    padding-bottom: 2rem;
    margin-bottom: .5rem;
    font-family: monospace;
}

section.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.welcome ul {
    padding: 0 7.5rem ;
    font-weight: bold;
}

section.projects {
    background-color: #e0dbd8
}

section.about {
    background-color: #dcc3be;
}